@model ProjektGruppF.Models.freelancer

@{
    ViewBag.Title = "Freelancer profile";
}
<section id="First">


<h2 style="font-style:oblique">Welcome @Model.firstname</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd class="freeText">
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv.nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv.nationality)
        </dd>

    </dl>
    <div id="Third">
        <p>This is what you know</p>
        @Html.DropDownList("Skill", "Registered skills")
     
        
    </div>

    

</div>
</section>
<div id="second">

<h3 >Your personal Letter.</h3>
<p>@Html.DisplayFor(model => model.PersonalLetter)</p>
<p style="color:blueviolet">Wanna update you personal info? <br /> Click below.</p>

<input type="submit" value="Edit" onclick="location.href='@Url.Action("Edit", "freelancers")'" />
<p style="color:blueviolet">Take a look at you CV here</p>
<input type="submit" value="Edit" onclick="location.href='@Url.Action("CV", "freelancers")'" />
</div>









@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.freelancer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
