@model ProjektGruppF.Models.freelancer

@{
    ViewBag.Title = "Freelancer profile";
}
<section id="First">


<h2 style="font-style:oblique">Welcome @Model.firstname</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd class="freeText">
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

       

    </dl>
    

    

</div>
</section>
<div id="second">
    <h3>Your personal Letter.</h3>
    <p>@Html.DisplayFor(model => model.PersonalLetter)</p>
    <br /><br /><br />
    <hr />
    <hr />
    <p style="color:blue">Wanna update you personal info? Click below.</p>
    <a href=@Url.Action("Edit", "freelancers") class="btn btn-primary" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%; margin-right: 35%; width: 50%;">Update profile</a>
    <br /><br />
    <p style="color:blue">Take a look at you CV here</p>
    <a href=@Url.Action("CV", "freelancers", new {  }) class="btn btn-primary" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%; margin-right: 35%; width: 50%;">View CV</a>
    <br /><br />
    <p style="color:blue">Edit your CV by clicking here</p>
    <a href=@Url.Action("Edit", "CVversion3", new {  }) class="btn btn-primary" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%; margin-right: 35%; width: 50%;">Edit CV</a>
</div>









@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.freelancer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
