@model List<ProjektGruppF.ViewModels.Freelancer>
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center; margin-top: 3%;">Available Freelancers</h2>


@Html.AntiForgeryToken()

<input id="input" type="text" placeholder="Search for skill, expertise or freelancer" style="width: 50%; height: 50px; margin-top: 2%; margin-bottom: 3%; margin-left: 37%;"/>
<div class="searchField">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-3 colsm-3 col-xs-6">
                <div class="card bg-light mb-3" style="margin-bottom:20px;">
                    <img src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="card-img-top" alt="A picture of the freelancer" style="height:180px; width:100%; ">
                    <div class="card-body">
                        <h5 class="card-title">@item.Firstname @item.Lastname</h5>
                        <p class="card-text">
                            Age: @item.Age <br>
                            Nationality: @item.Nationality  <br>
                            @foreach (var skill in item.SkillList)
                            {
                                @skill.name<br />
                            }
                            @foreach (var expertise in item.ExpertiseList)
                            {
                                <div>
                                    @expertise.name
                                    <span>
                                        @for (int i = 0; i < Convert.ToInt32(expertise.rank_expertise_id); i++)
                                        {
                                            <span class="glyphicon glyphicon-star">+</span>
                                        }
                                    </span>
                                </div>
                            }
                        </p>
                        <div>
                            @* <a style="float:right;" href="#" class="btn btn-primary">save</a>
                                <a href="#" class="btn btn-primary">View</a>*@
                            @using (Html.BeginForm("FreelancerProfile", "CustomerLanding", new { freelancer_id = item.Freelancer_id, cv_id = item.Cv_id }))
                            {
                                <input class="btn btn-primary" type="submit" value="View CV" style="width: 40%; float: left;" onclick="location.href='@Url.Action("FreelancerProfile", "CustomerLanding")'" />
                            }
                            
                            @***************** Knapp för att spara frilansare****************@
                            @using (Html.BeginForm("Index", "CustomerLanding", new { id = item.Freelancer_id }))
                            {
                                <input class="btn btn-primary" type="submit" value="Save" style="width: 40%; float: right;" onclick="location.href='@Url.Action("Index", "savedFreelancers")'" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
    <script>
        $(document).ready(function filter() {
            $('#input').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('.searchField *').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
