@model ProjektGruppF.Models.customer

@{
    ViewBag.Title = "Profile";
}

<h2>Your customer profile</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phonenumber)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.firstname)
        </td>
        <td>
            @Html.DisplayFor(model => model.lastname)
        </td>
        <td>
            @Html.DisplayFor(model => model.adress)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.phonenumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "customers", new { id= Model.customer_id }) 
         @*   @Html.ActionLink("Delete", "Delete", new { id= Model.customer_id })*@
        </td>
    </tr>


</table>
