@model ProjektGruppF.Models.cv

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "cvFreelancer"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>CV</h4>
    <hr>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY-MM-DD" } })
            @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.drivers_license, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.drivers_license, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.drivers_license, "", new { @class = "text-danger" })*@

            @*@Html.DropDownList("Drivers license Options", new List<SelectListItem>
                { new SelectListItem { Text = "yes", Value = "1", Selected=true},
                  new SelectListItem { Text = "no", Value = "2"},
                  }, "Please select option")*@
            <fieldset id="Drivers _license">
                <select id="Fdrivers_license" required>
                    <option value="">-select option-</option>
                    <option value="yes">yes</option>
                    <option value="no">no</option>

                </select>

            </fieldset>

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.profil, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } }) behövs inte?
        @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })*@
            <p margin-top: 10px> Write something about yourself</p>
            @Html.TextAreaFor(model => model.profil, 10, 55, null)
           
        </div>
    </div>

    @*<div class="form-group">
        @*bonus krav*@
        @*@Html.LabelFor(model => model.registration_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.registration_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.registration_date, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <hr>
    <div class="form-group">
        @Html.LabelFor(model => model.education, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <fieldset>
                <select id="F_Education" required>
                    <option value="">-select education-</option>
                    <option value=" it architect">it architect</option>
                    <option value="system development">system development</option>
                    <option value="it management">it management</option>
                    <option value="computer science">computer science</option>
                    <option value="web architect">web architect</option>
                    <option value="civil enginer">civil enginer</option>
                </select>

            </fieldset>
            <p margin-top: 10px> Name of Educational Institution</p>
            @Html.EditorFor(model => model.education, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.education, "", new { @class = "text-danger" })
            <fieldset>
                <select id="F_EducationYears" required>
                    <option value="">-select years-</option>
                    <option value=" 1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select>

            </fieldset>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.work_experience, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.work_experience, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.work_experience, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.skill, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.skill, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.skill, "", new { @class = "text-danger" })*@
            <select id="leftSelect">
                <option value="programming">Programmer</option>
                <option value="web_developing">Web developer</option>
                <option value="databases">Databaseadministrator</option>
                <option value="m_app_developing">Mobile application developer</option>
                <option value="usability_testing">Usability tester</option>
                <option value="logo_designing">Logo designer</option>
            </select>

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.expertise, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.expertise, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.expertise, "", new { @class = "text-danger" })*@
            <select id="centerSelect">
                <option value="programming">C#</option>
                <option value="programming">Java</option>
                <option value="programming">Javascript</option>
                <option value="programming">Python</option>
                <option value="programming">Postgres</option>
                <option value="programming">PHP</option>
                <option value="programming">JQuery</option>
                <option value="programming">HTML</option>
                <option value="programming">CSS</option>
                <option value="programming">Android</option>
                <option value="programming">IOS</option>
                <option value="programming">MYSQL</option>
                <option value="programming">Oracle</option>
            </select>

            <select id="rightSelect">
                <option value="five">5</option>
                <option value="four">4</option>
                <option value="three">3</option>
                <option value="two">2</option>
                <option value="one">1</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Main_abilities, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Main_abilities, new { htmlAttributes = new { @class = "form-control" } })*@
            @* @Html.ValidationMessageFor(model => model.Main_abilities, "", new { @class = "text-danger" })*@
            <p margin-top: 10px> Write about your specialities</p>

            @Html.TextAreaFor(model => model.language, 5, 55, null)
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.language, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.language, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY-MM-DD" } })
        @Html.ValidationMessageFor(model => model.language, "", new { @class = "text-danger" })*@
            
            @Html.TextAreaFor(model => model.language, 2, 55, null)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
