@*@model IEnumerable<ProjektGruppF.Models.cv>*@
@model IEnumerable<ProjektGruppF.ViewModels.Freelancer>

@*@model ProjektGruppF.ViewModels.Freelancer*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drivers_license)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration_date)
        </th>
        <th>@Html.DisplayNameFor(model => model.Language) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivers_license)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration_date)
            </td>
            <td>
                @Html.ListBox("Id", new SelectList(item.Language, "Id", "CourseName"))
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cv_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cv_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cv_id })
            </td>
        </tr>
    }

</table>
