@model ProjektGruppF.Models.freelancer
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome @Model.firstname!</h1>

<div class="profile">
    <nav>


    </nav>

    <section>
        <h2>THis is your personal information and what potential employers can see.</h2>
        <ul>
            <li>
                <p>Firstname: @Model.firstname</p>
                <p>Lastname @Model.lastname</p>
                <p>Address: @Model.adress</p>
                <p>Mobile Phone @Model.phonenumber</p>
                <p>Email @Model.email</p>


            </li>
        </ul>
        

    </section>


</div>