@model ProjektGruppF.Models.cv

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FreelancerLayout.cshtml";
}

<h2 style="margin-top: 3%; margin-bottom: 3%;">This is the first step in creating your own CV and letting employeers find you!</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5>Step 1 / </h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.cv_id)

        <div class="form-group">
            @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.drivers_license, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.drivers_license, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.drivers_license, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@<div class="form-group">
            @Html.LabelFor(model => model.registration_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.registration_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.registration_date, "", new { @class = "text-danger" })
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" style="margin-left: 13%;" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <tr>
        <td>
            @Html.ActionLink("Whats your education?", "EditEducation")
        </td>
    </tr>
    <hr />
    <tr>
        <td>
            @Html.ActionLink("Whats your abilities?", "EditMainAbilities")
        </td>
    </tr>
    <hr />
    <tr>
        <td>
            @Html.ActionLink("What languages do you speak?", "EditLanguage")
        </td>
    </tr>
    <hr />
    <tr>
        <td>
            @Html.ActionLink("What work experience do you have?", "EditWorkExperience")
        </td>
    </tr>
    <hr />
    <tr>
        <td>
            @Html.ActionLink("What is your main skill and expertise?", "skills_Expertiser", "freelancers")
        </td>
    </tr>
}<hr />
<div>
    @Html.ActionLink("Back", "Start", "freelancers")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

