@model IEnumerable<ProjektGruppF.Models.cv>
@*@model IEnumerable<ProjektGruppF.ViewModels.Freelancer>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivers_license)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Registration_date)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Profil)
        </th>*@
        <th>@Html.DisplayNameFor(model => model.Language) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivers_license)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registration_date)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>

        @*<td>

            @for (int i = 0; i < item.TotalLanguageList.Count; i++)
            {
                @Html.ListBox("language", new SelectList(item.Language, "language_id", "name"))
                @Html.DisplayFor(modelItem => item.TotalLanguageList[i])

            }
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.cv_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.cv_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.cv_id })
        </td>
    </tr>
    }

</table>
