@model List<ProjektGruppF.ViewModels.cvFreelancer>

@{
    ViewBag.Title = "Index";
}

<h2>CV</h2>
@foreach (var item in Model)
{
    <div class="col-sm-3" style="width: 100%; float: left;">
        <div class="card" style=" background:yellow; border: 1px solid rgba(0,0,0,.125); border-radius:.25rem; margin-top: 5%; margin-bottom: 5%;">
            <img src="" class="card-img-top" alt="A picture of the freelancer">
            <div class="card-body" style="padding:1.25rem; background:lightblue;">
                <h5 class="card-title">@item.Firstname.ToUpper() @item.Lastname.ToUpper()</h5>
                <p class="card-text">
                    Adress: @item.Adress  <br>
                    Phonenumber: @item.Phonenumber  <br>
                    Email: @item.Email  <br>
                    Birthday :@item.Birthday  <br>
                    Nationality: @item.Nationality  <br>
                    Drivers license (yes/no): @item.Drivers_license  <br><br>
                    <h5 style="text-align: center; background: yellow; font-weight: bold;">Work experience</h5>
                    Previous/current employer: @item.Employername  <br>
                    Jobtitle: @item.Jobtitle  <br>
                    Role: @item.Role  <br>
                    Startdate: @item.Startdate  <br>
                    Enddate: @item.Enddate  <br>
                </p>
            </div>
        </div>
    </div>
}

    <div>
        <a href="@Url.Action("Index", "savedFreelancers")" class="btn btn-primary" style="margin-top: 5%; margin-bottom: 5%; float: left; margin-left: 35%; margin-right: 35%; width: 30%;">Back</a>
    </div>