@model List<ProjektGruppF.ViewModels.SavedFreelancersVM>

@{
    ViewBag.Title = "Index";
}

<h2>These are your saved freelancers</h2>
<p>Filter your freelancers by choosing desired skill and expertise or by using the searchbox.</p>

@using (Html.BeginForm("ProcessForm", "SavedFreelancers", FormMethod.Post))
{
    @Html.DropDownList("skillsList", ViewData["skillsList"] as SelectList)
}
<br />
<select id="expertise"></select>
<br /><br />
<input id="input" type="text" placeholder="Search for skill, expertise or freelancer" style="width: 50%;"/>

<div class="searchField">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card" style=" background:yellow; border: 1px solid rgba(0,0,0,.125); border-radius:.25rem; margin-top: 5%; margin-bottom: 5%;">
                    <img src="" class="card-img-top" alt="A picture of the freelancer">
                    <div class="card-body" style="padding:1.25rem; background:lightblue;">
                        <h5 class="card-title">@item.Firstname.ToUpper() @item.Lastname.ToUpper()</h5>
                        <p class="card-text">
                            Adress: @item.Adress  <br>
                            Phonenumber: @item.Phonenumber  <br>
                            Email: @item.Email  <br><br>
                        </p>
                        <a href=@Url.Action("FreelancerProfile", "CustomerLanding", new { freelancer_id = item.Freelancer_id, cv_id = item.Cv_id }) class="btn btn-primary" style="margin-top: 5%; margin-bottom: 5%; margin-left: 20%; margin-right: 35%; width: 50%;">View CV</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#expertise").prop("disabled", true);
            $("#skillsList").change(function () {
                if ($("#skillsList").val() != "All Skills") {
                    var options = {};
                    options.url = "/savedFreelancers/GetExpertises";
                    options.type = "POST";
                    options.data = JSON.stringify({ skills: $("#skillsList").val() });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (expertise) {
                        $("#expertise").empty();
                        for (var i = 0; i < expertise.length; i++) {
                            $("#expertise").append("<option>" + expertise[i] + "</option>");
                        }
                        $("#expertise").prop("disabled", false);
                    };
                    options.error = function () { alert("Error retrieving expertises!"); };
                    $.ajax(options);
                }
                else {
                    $("#expertise").empty();
                    $("#expertise").prop("disabled", true);
                }
            });
        });

        $('select').on('change', function () {
            $('#input').val($(this).val());
        });

        $(document).ready(function filter() {
            $('#input').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('.searchField *').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
}