@model List<ProjektGruppF.ViewModels.SavedFreelancersVM>

@{
    ViewBag.Title = "Index";
}

<h2>These are your saved freelancers</h2>
<p>Filter your search by choosing desired skill, expertise and rank in the drop-down boxes below and then clicking on "Filter".</p>

@using (Html.BeginForm("ProcessForm", "SavedFreelancers", FormMethod.Post))
{
    @Html.DropDownList("skillsList", ViewData["skillsList"] as SelectList)
}
<br />
<select id="expertise" class="centerSelect"></select>
<br /><br />
<select id="rank" class="rightSelect"></select>
<br /><br />
<input type="submit" value="Filter"   onclick="location.href='@Url.Action("EditSkills", "savedFreelancers")'" />
@*@<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card" style=" background:yellow; border: 1px solid rgba(0,0,0,.125); border-radius:.25rem; margin-top: 5%; margin-bottom: 5%;">
                    <img src="" class="card-img-top" alt="A picture of the freelancer">
                    <div class="card-body" style="padding:1.25rem; background:lightblue;">
                        <h5 class="card-title">@item.Firstname.ToUpper() @item.Lastname.ToUpper()</h5>
                        <p class="card-text">
                            Adress: @item.Adress  <br>
                            Phonenumber: @item.Phonenumber  <br>
                            Email: @item.Email  <br>
                        </p>
                        <a href=@Url.Action("Index", "ViewCV", new { cv_id = item.Freelancer_id }) class="btn btn-primary" style="margin-top: 5%; margin-bottom: 5%; float: left; margin-left: 35%; margin-right: 35%; width: 30%;">View CV</a>
                    </div>
                </div>
            </div>
        }
    </div>*@

@section scripts {
    <script>
        $(document).ready(function () {
            $("#expertise").prop("disabled", true);
            $("#skillsList").change(function () {
                if ($("#skillsList").val() != "Skill") {
                    var options = {};
                    options.url = "/savedFreelancers/GetExpertises";
                    options.type = "POST";
                    options.data = JSON.stringify({ skills: $("#skillsList").val() });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (expertise) {
                        $("#expertise").empty();
                        for (var i = 0; i < expertise.length; i++) {
                            $("#expertise").append("<option>" + expertise[i] + "</option>");
                        }
                        $("#expertise").prop("disabled", false);
                    };
                    options.error = function () { alert("Error retrieving expertises!"); };
                    $.ajax(options);
                }
                else {
                    $("#expertise").empty();
                    $("#expertise").prop("disabled", true);
                }
            });
        });
        $(document).ready(function () {
            $("#rank").prop("disabled", true);
            $("#expertise").change(function () {
                if ($("#expertise").val() != null) {
                    var options = {};
                    options.url = "/savedFreelancers/GetRanks";
                    options.type = "POST";
                    options.data = JSON.stringify({ expertises: $("#expertise").val() });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (rank) {
                        $("#rank").empty();
                        for (var i = 0; i < rank.length; i++) {
                            $("#rank").append("<option>" + rank[i] + "</option>");
                        }
                        $("#rank").prop("disabled", false);
                    };
                    options.error = function () { alert("Error retrieving ranks!"); };
                    $.ajax(options);
                }
                else {
                    $("#rank").empty();
                    $("#rank").prop("disabled", true);
                }
            });
        });
    </script>
}